<div class="row">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Administrer fredagsbønn</h3>
		</div>
		<div class="panel-body">
			<div>
				<div class="well well-lg">
					<h4>Legg til ny fredagsbønnregel</h4>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputNavn" class="col-lg-4 control-label">Fra dag i måned(1-31)</label>
							<div class="col-lg-1">
								<input type="text" ng-model="fromDay" class="form-control" id="inputNavn" >
							</div>
						</div>
						<div class="form-group">
							<label for="inputFrom"  class="col-lg-4 control-label">Fra måned(1-12)</label>
							<div class="col-lg-1">
								<input type="text" ng-model="fromMonth" class="form-control" id="fromMonth" ng-required="true" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputTo"  class="col-lg-4 control-label">Til dag i måned(1-31)</label>
							<div class="col-lg-1">
								<input type="text" class="form-control" ng-model="toDay" id="toDay" ng-required="true" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputAppFrom"  class="col-lg-4 control-label">Til måned(1-12)</label>
							<div class="col-lg-1">
								<input type="text" class="form-control"  ng-model="toMonth" id="toMonth" ng-required="true" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputAppTo"  class="col-lg-4 control-label">Bønnetid timer(0-24)</label>
							<div class="col-lg-1">
								<input type="text" class="form-control"  ng-model="hours" id="hour" ng-required="true" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputAppTo"  class="col-lg-4 control-label">Bønnetid minutter(0-60)</label>
							<div class="col-lg-1">
								<input type="text" id="min" class="form-control"  ng-model="min" ng-required="true" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-offset-4 col-lg-10">
								<button type="submit" class="btn btn-default" ng-click="addHoliday()">Legg til</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div>
				<table>
					<tr>
						<th>Fra dag</th>
						<th>Fra måned</th>
						<th>Til dag</th>
						<th>Til måned</th>
						<th>Bønntid timer</th>
						<th>Bønntid minutter</th>
						<th>Slett</th>
					</tr>
					<tr ng-repeat="holiday in holidays">
						<td><input type="text" ng-model="holiday.fromDay"/></td>
						<td><input type="text" ng-model="holiday.fromMonth"/></td>
						<td><input type="text" ng-model="holiday.toDay"/></td>
						<td><input type="text" ng-model="holiday.toMonth"/></td>
						<td><input type="text" ng-model="holiday.hours"/></td>
						<td><input type="text" ng-model="holiday.minuttes"/></td>
						<td><button type="button" ng-click="removeJumma(holiday)" class="btn btn-success btn-lg">Slett</button></td>
					</tr>
				</table>
				<button type="button" ng-click="saveHolidays()" class="btn btn-success btn-lg">Lagre endringer</button>
			</div>
			

		</div>