<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Administrer nyheter</h3>
		</div>
		<div class="panel-body">
			<div>
				<div class="well well-lg">
					<h2 ng-show="isInEditMode">NB! Du er nå i endremodus</h2>
					<h4 ng-hide="isInEditMode">Legg til nyhet</h4>
					<h4 ng-show="isInEditMode">Endre nyhet</h4>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="category"  class="col-lg-2 control-label">Velg kateogri</label>
							<div class="col-lg-10">
								<select ng-model="cat" id="category" ng-options="c.name for c in category">
									<option value="">-- Kategori --</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="inputNavn" class="col-lg-2 control-label">Forfatter</label>
							<div class="col-lg-10">
								<input type="text" ng-model="selectedNews.author" class="form-control" id="inputNavn" placeholder="Forfatter"></div>
						</div>
						<div class="form-group" ng-show="isEvent()">
							<label for="adresse" class="col-lg-2 control-label">Adresse</label>
							<div class="col-lg-4">
								<google-places address="selectedNews.address" lat="selectedNews.lat" lng="selectedNews.lng"></google-places>
							</div>
							<div class="col-lg-3">
								Vis kart i app:
								<input type="checkbox" ng-model="selectedNews.showMap">
								<br/>
							</div>
						</div>
						<div class="form-group" ng-show="isEvent()">
							<label for="adresse" class="col-lg-2 control-label"></label>
							<div class="col-lg-3">
								<span>
									Lat <strong>{{selectedNews.lat}}</strong>
								</span>
								<span>
									Long <strong>{{selectedNews.lng}}</strong>
								</span>
							</div>
						</div>
						<div class="form-group" ng-show="isEvent()">
							<label for="fra" class="col-lg-2 control-label">Fra</label>
							<div class="col-lg-10">
								<datetimepicker id="fra"  data-on-set-time="onTimeSet" data-ng-model="selectedNews.from" ></datetimepicker>
							</div>
						</div>
						<div class="form-group" ng-show="isEvent()">
							<label for="til" class="col-lg-2 control-label">Til</label>
							<div class="col-lg-10">
								<datetimepicker id="fra"  data-on-set-time="onTimeSet" data-ng-model="selectedNews.to" ></datetimepicker>
							</div>
						</div>
						<div class="form-group">
							<label for="inputNavn" class="col-lg-2 control-label">Tittel</label>
							<div class="col-lg-10">
								<input type="text" ng-model="selectedNews.title" class="form-control" id="inputNavn" placeholder="Tittel"></div>
						</div>
						<div class="form-group">
							<label for="inputTime"  class="col-lg-2 control-label">Ingress</label>
							<div class="col-lg-10">
								<textarea class="form-control" ng-model="selectedNews.ingress" id="inputTime" placeholder="Tekst"/>
							</div>
						</div>
						<div class="form-group">
							<label for="inputTime"  class="col-lg-2 control-label">Tekst</label>
							<div class="col-lg-10">
								<textarea class="form-control" ng-model="selectedNews.text" id="inputTime" placeholder="Tekst"/>
							</div>
						</div>
						<div class="form-group">
							<label for="exampleInputFile" class="col-lg-2 control-label">Velg bilder</label>
							<div class="col-lg-10">
								<input type="file" ng-file-select="onFileSelect($files)" ></div>
						</div>
						<div class="form-group">
							<label for="inputTime"  class="col-lg-2 control-label"></label>
							<div class="col-lg-10">
								<ul class="list-group">
									<li  ng-repeat="image in images"class="list-group-item">
										<img height="42" width="42" src="{{image.imageUrl}}"/>
										Bruk som bakgrunn : 
										<input type="checkbox" ng-model="image.background"  ng-change="backgroundChange(image)" />
										Bruk som artikkelbilde : 
										<input type="checkbox" ng-model="image.article" ng-change="articleChanged(image)"/>
										<p>
											<textarea class="form-control download" ng-model="image.imageText" id="inputTime" placeholder="Bildetekst"/>
										</p>
									</li>

								</ul>
							</div>
							<!--div class="col-lg-10">
							<textarea class="form-control" ng-model="selectedNews.imageText" id="inputTime" placeholder="Bilde tekst"/>
						</div-->
					</div>
					<div class="form-group" ng-show="isNyhet()">
						<label for="pri"  class="col-lg-2 control-label">Velg prioritet på forisden</label>
						<div class="col-lg-10">
							<select ng-model="pri" id="pri" ng-options="c.name for c in priority">
								<option value="">-- Prioritet --</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-default" ng-click="saveNews(selectedNews)">Lagre nyhet til server</button>
						</div>
					</div>
					<div class="form-group" ng-show="isInEditMode">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-default" ng-click="cancelEdit()">Kanseler endring</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div>
			<h4>Nyheter på serveren</h4>
			<label for="filter"  class="col-lg-2 control-label">Filtrer på kategori</label>
			<div class="col-lg-10">
				<select ng-model="filter" id="filter" ng-options="c.name for c in filters">
					<option value="">-- Ingen filter --</option>
				</select>
			</div>
			<table>
				<tr>
					<th>Tittel</th>
					<th>Endre</th>
					<th>Slett</th>
				</tr>
				<tr ng-repeat="newsItem in news">
					<td>{{newsItem.title}}</td>
					<td>
						<button type="submit" class="btn btn-default" ng-click="editNews(newsItem)">Endre</button>
					</td>
					<td>
						<button type="submit" class="btn btn-default" ng-click="deleteNews(newsItem)">Slett</button>
					</td>
				</tr>
			</table>
		</div>

	</div>